@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "Odin";
    src: url("Odin Rounded - Bold.otf") format("truetype");
}
/*centrage d'un bloc de texte */
P.blocktext {
    margin-left: auto;
    margin-right: auto;
}
/*Centrage d'une image avec class display*/
IMG.display {
    display: block;
    margin-left: auto;
    margin-right: auto }
